@keyframes bounceUpAndDown {
	from, to {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(5px);
	}
}

@mixin bounceAnimation () {
	animation: bounceUpAndDown 1s infinite;
	animation-delay: 0.35s;
}

@keyframes slideInFromLeft {
	from {
		transform: translateX(-100vw);
	}

	to {
		transform: translateX(0);
	}
}

@mixin slideFromLeftAnimation () {
	animation: slideInFromLeft 1s 1 forwards;
}

@keyframes slideInFromBottom {
	from {
		transform: translateY(100vw);
	}

	to {
		transform: translateY(0);
	}
}

@mixin slideFromBottom () {
	animation: slideInFromBottom 1s 1 forwards;
}

@mixin fadeIn ($startAmount, $time) {


	@keyframes fadeIn {
		from {
			opacity: $startAmount;
		}

		to {
			opacity: 1;
		}
	}

	animation: fadeIn #{$time}s 1 forwards;
}

@keyframes warningEffect {
	45% {
		text-shadow: 0px 5px 10px red;
		//color: red;
	}

	from, to {
		text-shadow: 0px 5px 30px purple;
		//color: purple;
	}
}


@mixin warningAnimation () {
	animation: warningEffect 3s infinite;
}

@keyframes slideInUp {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@mixin slideInUpAnimation () {
	animation: slideInUp 0.45s 1 forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
