$bodyColor: #1d1d1d;
$marvelRed: #e23636;
$colorPurple: #3f2b44;


$fontHeavy: 'Fjalla One', sans-serif;
$fontNormal: 'Karla', sans-serif;

$fontMid: 'Archivo Black', sans-serif;

$bp_mobile: 720px;
$bp_mobile_sm: 640px;

